@model IEnumerable<SMS.Entities.StudentDisplayVM>

@{
    ViewBag.Title = "Studentsclasslist";
    Layout = "~/Views/Shared/_Layout_New.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Studentslist</title>
</head>
<body>




    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
   <form action="/Student/studentsPromotion" method="post">
    
      
       <table class="table table  table-bordered" data-page-length='100' id="myTable">



           <thead>
               <tr>

               <tr>
                   <th>

                       @Html.DisplayNameFor(model => model.Student.RollNo)
                   </th>
                   <th>
                       @Html.DisplayNameFor(model => model.Student.Name)
                   </th>
                   <th>
                       @Html.DisplayNameFor(model => model.section.sectionName)
                   </th>
                   <th>
                       @Html.DisplayNameFor(model => model.session.Sessionname)

                   </th>

                   <th>
                       @Html.DisplayNameFor(model => model.Classes.classname)
                   </th>
                   <th>
                       @Html.DisplayNameFor(model => model.term.TermName)
                   </th>




                   <th>  <input type="checkbox" id="allcheckbox" />  </th>
               </tr>
           </thead>
           <tbody>
               @foreach (var item in Model)
               {
                   <tr>
                       <td>
                           <input type="hidden" name="rollno" value="@item.Student.ID" />
                           @Html.DisplayFor(modelItem => item.Student.RollNo)
                       </td>
                       <td>

                           <input type="hidden" name="pid" value="@item.StudentCurrentStatus.ProgramdegreeID" />
                           <input type="hidden" name="cat" value="@item.StudentCurrentStatus.CategoryID" />
                           @Html.DisplayFor(modelItem => item.Student.Name)
                       </td>
                       <td>

                           @Html.DisplayFor(modelItem => item.section.sectionName)
                       </td>
                       <td>
                           <input type="hidden" name="cbosession" value="@item.session.ID" />
                           @Html.DisplayFor(modelItem => item.session.Sessionname)
                       </td>
                       <td>
                           <input type="hidden" name="cboclass" value="@item.StudentCurrentStatus.classesID" />
                           @Html.DisplayFor(modelItem => item.Classes.classname)
                       </td>
                       <td>

                           @Html.DisplayFor(modelItem => item.term.TermName)
                       </td>
                       <td>
                           <input type="checkbox" class="checkboxid" name="classid" value="@item.StudentCurrentStatus.id" checked />
                       </td>






                   </tr>

               }


           </tbody>

           <label>Select Section</label>
           @Html.DropDownList("sid", new SelectList(ViewBag.section, " id", "sectionName"), "Select Any one", new { @class = "form-control", required = "required" })
           <label>Select Smester </label>           @Html.DropDownList("tids", new SelectList(ViewBag.termname, "id", "TermName"), "Select Any one", new { @class = "form-control", required = "required" })

       </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
       
    </form>
</body>
</html>
@section scripts
{

    <script>
      $(document).ready(function () {
          $('#myTable').DataTable();
        });
        $("#myTable").dataTable({
            "aLengthMenu": [100]
        });
        $('#example').dataTable({
            "pageLength": 100
        });
    </script>
}
