@using Microsoft.AspNet.Identity

<!doctype html>
<html class="no-js" lang="">

<!-- Mirrored from www.radiustheme.com/demo/html/psdboss/akkhor/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 Apr 2019 18:48:49 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hailey College</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/wizard.css" rel="stylesheet" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="/Content/css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/Content/css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Content//bootstrap.min.css">
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/Content/css/all.min.css">
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/Content/fonts/flaticon.css">
    <!-- Full Calender CSS -->
    <link rel="stylesheet" href="/Content/css/fullcalendar.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/Content/css/animate.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/Content/style.css">
    <!-- Modernize js -->
    <script src="/Content/js/modernizr-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/Content/style.css">
    <!-- Modernize js -->
    <script src="/Content/js/modernizr-3.6.0.min.js"></script>
   
</head>
<body>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper bg-ash">
        <!-- Header Menu Area Start Here -->
        <div class="navbar navbar-expand-md header-menu-one bg-light">
            <div class="nav-bar-header-one">
                <div class="header-logo">
                    <a href="">
                        <img src="~/Content/img/figure/logosms.jpg"  height="80px" width="100px" alt="logo" />
  
                    </a>
                </div>
                <div class="toggle-button sidebar-toggle">
                    <button type="button" class="item-link">
                        <span class="btn-icon-wrap">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="d-md-none mobile-nav-bar">
                <button class="navbar-toggler pulse-animation" type="button" data-toggle="collapse" data-target="#mobile-navbar" aria-expanded="false">
                    <i class="far fa-arrow-alt-circle-down"></i>
                </button>
                <button type="button" class="navbar-toggler sidebar-toggle-mobile">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="header-main-menu collapse navbar-collapse" id="mobile-navbar">
                <ul class="navbar-nav">
                    <li class="navbar-item header-search-bar">
                        <div class="input-group stylish-input-group">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="flaticon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                            <input type="text" class="form-control" placeholder="Find Something . . .">
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="navbar-item dropdown header-admin">
                        <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           aria-expanded="false">
                            <div class="admin-title">
                                <h5 class="item-title">Hailey College</h5>
                                <span>Admin</span>
                            </div>
                            <div class="admin-img">
                                <img src="/Content/img/figure/admin.jpg" alt="Admin">
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="item-header">
                                <h6 class="item-title">Hailey College</h6>
                            </div>
                            <div class="item-content">
                                <ul class="settings-list">
                                    <li><a href="#"><i class="flaticon-user"></i>My Profile</a></li>
                                    <li><a href="#"><i class="flaticon-list"></i>Task</a></li>
                                    <li><a href="#"><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i>Message</a></li>
                                    <li><a href="#"><i class="flaticon-gear-loading"></i>Account Settings</a></li>
                                    <li><a href="#"><i class="flaticon-turn-off"></i>Log Out</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="navbar-item dropdown header-message">
                        <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           aria-expanded="false">
                            <i class="far fa-envelope"></i>
                            <div class="item-title d-md-none text-16 mg-l-10">Message</div>
                            <span>5</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="item-header">
                                <h6 class="item-title">05 Message</h6>
                            </div>
                            <div class="item-content">
                                <div class="media">
                                    <div class="item-img bg-skyblue author-online">
                                        <img src="img/figure/student11.png" alt="img">
                                    </div>
                                    <div class="media-body space-sm">
                                        <div class="item-title">
                                            <a href="#">
                                                <span class="item-name">Maria Zaman</span>
                                                <span class="item-time">18:30</span>
                                            </a>
                                        </div>
                                        <p>
                                            What is the reason of buy this item.
                                            Is it usefull for me.....
                                        </p>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img bg-yellow author-online">
                                        <img src="img/figure/student12.png" alt="img">
                                    </div>
                                    <div class="media-body space-sm">
                                        <div class="item-title">
                                            <a href="#">
                                                <span class="item-name">Benny Roy</span>
                                                <span class="item-time">10:35</span>
                                            </a>
                                        </div>
                                        <p>
                                            What is the reason of buy this item.
                                            Is it usefull for me.....
                                        </p>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img bg-pink">
                                        <img src="img/figure/student13.png" alt="img">
                                    </div>
                                    <div class="media-body space-sm">
                                        <div class="item-title">
                                            <a href="#">
                                                <span class="item-name">Steven</span>
                                                <span class="item-time">02:35</span>
                                            </a>
                                        </div>
                                        <p>
                                            What is the reason of buy this item.
                                            Is it usefull for me.....
                                        </p>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img bg-violet-blue">
                                        <img src="img/figure/student11.png" alt="img">
                                    </div>
                                    <div class="media-body space-sm">
                                        <div class="item-title">
                                            <a href="#">
                                                <span class="item-name">Joshep Joe</span>
                                                <span class="item-time">12:35</span>
                                            </a>
                                        </div>
                                        <p>
                                            What is the reason of buy this item.
                                            Is it usefull for me.....
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="navbar-item dropdown header-notification">
                        <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           aria-expanded="false">
                            <i class="far fa-bell"></i>
                            <div class="item-title d-md-none text-16 mg-l-10">Notification</div>
                            <span>8</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="item-header">
                                <h6 class="item-title">03 Notifiacations</h6>
                            </div>
                            <div class="item-content">
                                <div class="media">
                                    <div class="item-icon bg-skyblue">
                                        <i class="fas fa-check"></i>
                                    </div>
                                    <div class="media-body space-sm">
                                        <div class="post-title">Complete Today Task</div>
                                        <span>1 Mins ago</span>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-icon bg-orange">
                                        <i class="fas fa-calendar-alt"></i>
                                    </div>
                                    <div class="media-body space-sm">
                                        <div class="post-title">Director Metting</div>
                                        <span>20 Mins ago</span>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-icon bg-violet-blue">
                                        <i class="fas fa-cogs"></i>
                                    </div>
                                    <div class="media-body space-sm">
                                        <div class="post-title">Update Password</div>
                                        <span>45 Mins ago</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="navbar-item dropdown header-language">

                        

                        <a href="javascript:document.getElementById('logoutForm').submit()" role="button"><i class="fas fa-sign-out-alt"></i>Logout</a>

                    </li>
                </ul>
            </div>
        </div>
        <!-- Header Menu Area End Here -->
        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->
            <div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
                <div class="mobile-sidebar-header d-md-none">
                    <div class="header-logo">
                        <a href=""><img src="img/logo1.png" alt="logo"></a>
                    </div>
                </div>
                <div class="sidebar-menu-content">
                    <ul class="nav nav-sidebar-menu sidebar-toggle-view">
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-dashboard"></i><span>Dashboard</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="" class="nav-link"><i class="fas fa-angle-right"></i>Admin</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link">
                                        <i class="fas fa-angle-right"></i>Students
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link"><i class="fas fa-angle-right"></i>Parents</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link">
                                        <i class="fas fa-angle-right"></i>Teachers
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-classmates"></i><span>Students</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/Student/Studentslist" class="nav-link">
                                        <i class="fas fa-angle-right"></i>All
                                        Students
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Student/Studentsclasslist" class="nav-link">
                                        <i class="fas fa-angle-right"></i>Student class Details
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Student/AddStudent" class="nav-link">
                                        <i class="fas fa-angle-right"></i>Admission Form
                                    </a>
                                </li>

                                @*<li class="nav-item">
                    <a href="/Student/Promotion" class="nav-link">
                        <i class="fas fa-angle-right"></i>Student Promotion
                    </a>
                </li>*@
                            </ul>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link">
                                <i class="flaticon-maths-class-materials-cross-of-a-pencil-and-a-ruler"></i><span>Session</span>
                            </a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/Session/listingsession" class="nav-link">
                                        <i class="fas fa-angle-right"></i>
                                        Session List
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Session/addsession" class="nav-link">
                                        <i class="fas fa-angle-right"></i> Add Session
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <!---
        <li class="nav-item sidebar-nav-item">
            <a href="#" class="nav-link"><i class="flaticon-couple"></i><span>Branch</span></a>
            <ul class="nav sub-group-menu">
                 <li class="nav-item">
                    <a href="/Branch/listiBranch" class="nav-link">
                        <i class="fas fa-angle-right"></i>
                        All branch
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Branch/Addbranch" class="nav-link">
                        <i class="fas fa-angle-right"></i> Add Branch
                    </a>
                </li>


            </ul>
        </li>
    -->

                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-books"></i><span>Discount Category</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/Category/listingCategory" class="nav-link">
                                        <i class="fas fa-angle-right"></i>
                                        All Category
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Category/AddCategory" class="nav-link">
                                        <i class="fas fa-angle-right"></i> Add Category
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link">
                                <i class="flaticon-maths-class-materials-cross-of-a-pencil-and-a-ruler"></i><span>Class</span>
                            </a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/classes/listingClass" class="nav-link">
                                        <i class="fas fa-angle-right"></i>
                                        class List
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/classes/Addclasses" class="nav-link">
                                        <i class="fas fa-angle-right"></i> Add class
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link">
                                <i class="flaticon-maths-class-materials-cross-of-a-pencil-and-a-ruler"></i><span>Section</span>
                            </a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/Section/listingsection" class="nav-link">
                                        <i class="fas fa-angle-right"></i>
                                        Section List
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Section/AddSection" class="nav-link">
                                        <i class="fas fa-angle-right"></i> Add Section
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-shopping-list"></i><span>Semester</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/Term/listingTerm" class="nav-link">
                                        <i class="fas fa-angle-right"></i>
                                        Semester List
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Term/AddTerm" class="nav-link">
                                        <i class="fas fa-angle-right"></i> Add Semester
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-shopping-list"></i><span>ALL Head</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/Head/addhead" class="nav-link">
                                        <i class="fas fa-angle-right"></i>
                                        Add-MianHead
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Head/Mheadlist" class="nav-link">
                                        <i class="fas fa-angle-right"></i> Main-head-List
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/subHead1Codes/addsubhead" class="nav-link">
                                        <i class="fas fa-angle-right"></i> Add-subhead-1
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/subHead1Codes/ListsubHead1Codes" class="nav-link">
                                        <i class="fas fa-angle-right"></i> subhead1-List
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/subHead1Codes/addsubhead2" class="nav-link">
                                        <i class="fas fa-angle-right"></i> Add-subhead-2
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/subHead1Codes/ListsubHead2list" class="nav-link">
                                        <i class="fas fa-angle-right"></i> subhead-2-List
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/subHead1Codes/addsubhead3" class="nav-link">
                                        <i class="fas fa-angle-right"></i> Add-subhead-3
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/subHead1Codes/ListsubHead3list" class="nav-link">
                                        <i class="fas fa-angle-right"></i> subhead-3-List
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-shopping-list"></i><span>  Feesvoucher</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/Feevoucher/addFeeStructures" class="nav-link">
                                        <i class="fas fa-angle-right"></i>
                                        Set-Class-package-structures
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Feevoucher/FeeScheduleStructuresList" class="nav-link">
                                        <i class="fas fa-angle-right"></i>
                                        Class-package-structures-List
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Feevoucher/addheadvalue" class="nav-link">
                                        <i class="fas fa-angle-right"></i>
                                        Add-Head-value-fees
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Feevoucher/FeeScheduleStructuresList" class="nav-link">
                                        <i class="fas fa-angle-right"></i>
                                        Head-value-fees-List
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Head/Mheadlist" class="nav-link">
                                        <i class="fas fa-angle-right"></i> Main-head-List
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/subHead1Codes/addsubhead" class="nav-link">
                                        <i class="fas fa-angle-right"></i> Add-subhead-1
                                    </a>
                                </li>


                            </ul>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-shopping-list"></i><span>Class Fees Status</span></a>
                            <ul class="nav sub-group-menu">

                                <li class="nav-item">
                                    <a href="/Feevoucher/findstudentstatus" class="nav-link">
                                        <i class="fas fa-angle-right"></i>
                                        Classes Fees Status Record
                                    </a>
                                    <a href="/Recordhead/Index" class="nav-link">
                                        <i class="fas fa-angle-right"></i>
                                        HeadRecordCheck
                                    </a>
                                    <a href="/fineHead/finestudent" class="nav-link">
                                        <i class="fas fa-angle-right"></i>
                                        Student Fine
                                    </a>
                                </li>
                                @*<li class="nav-item">
                    <a href="/Feevoucher/findstudentstatusv" class="nav-link">
                        <i class="fas fa-angle-right"></i>
                        Search Shared Voucher Status  Classes
                    </a>
                </li>*@



                            </ul>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-shopping-list"></i><span>Class-Promotion</span></a>
                            <ul class="nav sub-group-menu">

                                <li class="nav-item">

                                    <a href="/Student/Finepromotionlist" class="nav-link">
                                        <i class="fas fa-angle-right"></i>
                                        Class Promotion
                                    </a>
                                </li>
                                @*<li class="nav-item">
                    <a href="/Feevoucher/findstudentstatusv" class="nav-link">
                        <i class="fas fa-angle-right"></i>
                        Search Shared Voucher Status  Classes
                    </a>
                </li>*@



                            </ul>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-shopping-list"></i><span> All Semester Details</span></a>
                            <ul class="nav sub-group-menu">

                                <li class="nav-item">

                                    <a href="/Student/allsemesterRecords" class="nav-link">
                                        <i class="fas fa-angle-right"></i>
                                       All Semester Details
                                    </a>
                                </li>
                                @*<li class="nav-item">
                    <a href="/Feevoucher/findstudentstatusv" class="nav-link">
                        <i class="fas fa-angle-right"></i>
                        Search Shared Voucher Status  Classes
                    </a>
                </li>*@



                            </ul>
                        </li>




                    </ul>
                </div>
            </div>
            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one p-3 mb-2 bg-white text-dark">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h3>Admin Dashboard</h3>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>@ViewBag.mainheading</li>
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->
                <div class="container-fluid"> @RenderBody()</div>
                <!-- Social Media End Here -->
                <!-- Footer Area Start Here -->
                <footer class="footer-wrap-layout1"></footer>
                <!-- Footer Area End Here -->
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>
    @using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

    }
    <!-- jquery-->
    @*<script src="/Content/js/jquery-3.3.1.min.js"></script>*@
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <!-- Plugins js -->
    <script src="/Content/js/plugins.js"></script>

    <!-- Popper js -->
    <script src="/Content/js/popper.min.js"></script>
    <script src="~/Scripts/wizard.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
    <!-- Bootstrap js -->
    <!-- Counterup Js -->
    <script src="/Content/js/jquery.counterup.min.js"></script>
    <!-- Moment Js -->
    <script src="/Content/js/moment.min.js"></script>
    <!-- Waypoints Js -->
    <script src="/Content/js/jquery.waypoints.min.js"></script>
    <!-- Scroll Up Js -->
    <script src="/Content/js/jquery.scrollUp.min.js"></script>
    <!-- Full Calender Js -->
    <script src="/Content/js/fullcalendar.min.js"></script>
    <!-- Chart Js -->
    <script src="/Content/js/Chart.min.js"></script>
    <!-- Custom Js -->
    <script src="/Content/js/main.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>

<!-- Mirrored from www.radiustheme.com/demo/html/psdboss/akkhor/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 Apr 2019 18:49:17 GMT -->
</html>