<!doctype html>
<html class="no-js" lang="">

<!-- Mirrored from www.radiustheme.com/demo/html/psdboss/akkhor/button.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 Apr 2019 18:49:40 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
  
                <div class="">
                    @RenderBody()
                </div>
                <!-- Breadcubs Area End Here -->
                <!-- Button Area Start Here -->
                <!-- Button Area End Here -->
                
    <!-- jquery-->
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

<!-- Mirrored from www.radiustheme.com/demo/html/psdboss/akkhor/button.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 Apr 2019 18:49:40 GMT -->
</html>