@model IEnumerable<SMS.Entities.StudentDisplayVM>
@{
                /**/

                ViewBag.Title = "Studentsclasslist";
                Layout = "~/Views/Shared/_Layout_New.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Studentslist</title>
</head>
<body>




    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <form action="/Examination/edit" method="post">


        <table class="table table  table-bordered" data-page-length='100' id="myTable">



            <thead>
                <tr>

                <tr>
                    <th>

                        @Html.DisplayNameFor(model => model.Student.RollNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Student.Name)
                    </th>
                    <th>
                        <label>AssigMakrs</label>
                    </th>
                    <th>
                        <label>MidMakrs</label>
                    </th>

                    <th>
                        <label>finalMakrs</label>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.term.TermName)
                    </th>




                    <th>  <input type="checkbox" id="allcheckbox" />  </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input type="hidden" name="rollno" value="@item.Student.ID" />
                            <input type="hidden" name="ID" value="@ViewBag.subject" />
                            @item.Student.RollNo
                        </td>
                        <td>

<label>
    @item.Student.Name
</label>

                        </td>
                        <td>
                            <input type="number" value="@item.result.AssignmentMakrs" name="AssignmentMakrs" />

                        </td>
                        <td>
                            <input type="hidden" name="SessionsID" value="@item.session.ID" />
                            <input type="number" name="MidMarks" value="@item.result.MidMarks" />
                        </td>
                        <td>
                            <input type="hidden" name="classesID" value="@item.Classes.ID" />
                            <input type="number" name="FinalTerm" value="@item.result.FinalTerm" />
                        </td>
                        <td>
                            @item.term.TermName
                            <input type="hidden" name="TermsID" value="@item.term.id" />
                            <input type="hidden" name="SectionID" value="@item.section.id" />

                        </td>
                        <td>
                            <input type="checkbox" class="checkboxid" name="classid" value="@item.result.ID" checked />
                        </td>






                    </tr>

                }


            </tbody>

            @*<label>Select Section</label>
                @Html.DropDownList("sid", new SelectList(ViewBag.section, " id", "sectionName"), "Select Any one", new { @class = "form-control", required = "required" })
                <label>Select Smester </label>           @Html.DropDownList("tids", new SelectList(ViewBag.termname, "id", "TermName"), "Select Any one", new { @class = "form-control", required = "required" })*@

        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>

    </form>
</body>
</html>
@section scripts
{

    <script>
      $(document).ready(function () {
          $('#myTable').DataTable();
        });
        $("#myTable").dataTable({
            "aLengthMenu": [100]
        });
        $('#example').dataTable({
            "pageLength": 100
        });
    </script>
}
