@using SchoollManagementSystem.Models
@model LoginViewModel
@{ 
    Layout = "";

    ViewBag.Title = "Log in";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V6</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTheme/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTheme/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTheme/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTheme/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTheme/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTheme/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTheme/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTheme/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTheme/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/LoginTheme/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        
        
        <div class="limiter">

            <div class="container-login100">
                <div class="wrap-login100 p-t-85 p-b-20">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <span class="login100-form-title p-b-70">
                        <h3>  Welcome<br /> @DateTime.Now</h3>


                    </span>
                    <span class="login100-form-avatar">
                        <img src="~/Content/img/figure/logosms.jpg" height=130 width="250px" />
                        
                    </span>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>

                    <ul class="login-more p-t-190">
                        <li class="m-b-8">
                            <span class="txt1">
                                Forgot
                            </span>

                            <a href="#" class="txt2">
                                Username / Password?
                            </a>
                        </li>

                        <li>
                            <span class="txt1">
                                Don’t have an account?
                            </span>

                            <a href="#" class="txt2">
                                Sign up
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    }

    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/LoginTheme/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginTheme/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginTheme/vendor/bootstrap/js/popper.js"></script>
    <script src="~/LoginTheme/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginTheme/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginTheme/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/LoginTheme/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginTheme/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginTheme/js/main.js"></script>

</body>
</html>