@model IEnumerable<SMS.Entities.Session>

@{
    ViewBag.Title = "Listsession";
    Layout = "~/Views/Shared/_Layout_New.cshtml";
}

<h2>List Session</h2>

<p>
    @Html.ActionLink("Create New", "AddSession", null, new { @class = "btn btn-primary" })
</p>
<table class="table table table-bordered" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sessionname)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sessionname)
            </td>
            
            <td>

                <a href="@Url.Action("Editclasses","student" , new { id = item.ID })" class="btn btn-danger">
                    <span class="fas fa-edit mr-2"></span>

                </a>
                |
                <a href="@Url.Action("Deleteclasses","student" , new { id = item.ID})" class="btn btn-danger">
                    <span class="fas fa-trash mr-2"></span>

                </a>
                |
                <a href="@Url.Action("Deleteclasses","student" , new { id = item.ID })" class="btn btn-danger">
                    <span class="fas fa-list mr-2"></span>

                </a>


               
            </td>
        </tr>
        }
    </tbody>

</table>
@section scripts
{

    <script>
      $(document).ready(function () {
          $('#myTable').DataTable();
      });</script>}