@model IEnumerable<SMS.Entities.discountvm>

@{
    ViewBag.Title = "Student-Head-Discount";
    Layout = "~/Views/Shared/_Layout_New.cshtml";
}


@*<a href="/Student/StudentHeadDiscount/?@ViewBag.getlink"><span class="fa fa-percent btn btn-primary">add Shared Discount</span></a>
<a href="/Student/StudentHeadDiscount/?@ViewBag.getlink2"><span class="fa fa-percent btn btn-primary">add Local Discount</span></a>*@

<form id="saveform" action="/fineHead/Index" method="post">

    <input type="hidden" name="Stdid" value=@ViewBag.stdid />
    <input type="hidden" name="tmId" value=@ViewBag.semid />
    <input type="hidden" name="vtype" value=@ViewBag.vid />
    
    <div class="form-check">
        <input type="checkbox" name="vstatus" value="1" class="form-check-input" id="materialUnchecked">
        <label class="form-check-label" for="materialUnchecked">Add-challan-Form</label>
    </div>
    <div class="form-check">
        <input type="checkbox"  name="vstatus" class="form-check-input" value="2" id="materialUnchecked">
        <label class="form-check-label" name="vstatus" for="materialUnchecked">Add-Saparate-challan</label>
    </div>



    <table class="table">
        <tr>
            <th>
                @*@Html.HiddenFor(model => model.FeeVoucherHeadDetail.fk_strif)*@
            </th>
            <th>
                <label>NO</label>
            </th>

            <th>
                @Html.DisplayNameFor(model => model.SubHead3Code.Description)
            </th>
            <th>
                <label>Enter Discount Amount</label>
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="hidden" name="HeadValue" value="@item.SubHead3Code.SubHeadCode3" />



                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubHead3Code.SubHeadCode3)
                </td>

                <td>@Html.DisplayFor(modelItem => item.SubHead3Code.Description)</td>


                <td>



                    <input type="number" id="text1" name="discountAmount" value="0" class="form-control text-danger" placeholder="Enter Discount Amount" />
                </td>
            </tr>
        }

    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @*<a href=" /Student/StudentHeadDiscount" @ViewBag.link>*@
            <input type="submit" class="btn btn-danger" />
            @*</a>*@
        </div>
    </div>

</form>