@model IEnumerable<SMS.Entities.Term>

@{
    ViewBag.Title = "Semester";
    Layout = "~/Views/Shared/_Layout_New.cshtml";
}

<h2>Semester-List</h2>

<p>
    @Html.ActionLink("Create New", "AddTerm", null, new { @class = "btn btn-primary" })
</p>
<table class="table table table-bordered" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TermName)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TermName)
            </td>
         
             <td>

                <a href="@Url.Action("EditTerm","Term" , new {id = item.id  })" class="btn btn-danger">
                    <span class="fas fa-edit mr-2"></span>

                </a>
                |
                <a href="@Url.Action("EditTerm","Term" , new {id = item.id })" class="btn btn-danger">
                    <span class="fas fa-trash mr-2"></span>

                </a>
                |
                <a href="@Url.Action("EditTerm","Term" , new { id = item.id })" class="btn btn-danger">
                    <span class="fas fa-list mr-2"></span>

                </a>



            </td>
        </tr>
        }

    </tbody>

</table>
@section scripts
{

    <script>
      $(document).ready(function () {
          $('#myTable').DataTable();
      });</script>}